* {
    margin: 0;
    width: 100%;
    --color-primary: #f5b506;
    --color-secundary: #d69e03;
}

h2 {
    text-align: center;
    color: var(--color-primary);
    font-size: 2rem;
}

/* MENU */

.container-header {
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
    height: 10vh;
    width: 100%;
    z-index: 1000;

}

.container-ul {
    display: flex;
    background: #fff;
    background-size: cover;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 10000;

}

.header-logo {
    width: 20rem;
    font-size: 2rem;
    color: var(--color-primary);
    margin: .5rem;
}

.menu-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20%;
    width: 50rem;
    margin: 10px 0 10px 10%;
}

.menu-item {

    background: var(--color-primary);
    text-align: center;
    color: white;
    margin: 1rem;
    height: 100%;
    padding: .2rem;
    border-radius: 10px;
}

.menu-item:hover {

    background: var(--color-secundary);
    text-align: center;
    color: white;
    margin: 1rem;
    height: 100%;
    padding: .2rem;
    border-radius: 10px;

}

/* CARRUSEL */

.carousel-item{
    transition: transform 2s ease;
}

/* PEDIDOS A DOMICILIO */

.pedidos {
    display: flex;
    background: #f5e6b5;
}

.img-pedidos {
    width: 40%;
    margin: 5rem;
    border-radius: 10px;
    transition: step-start 3s;
    box-shadow: 2px 2px 5px rgb(41, 40, 40);
}

.pedidos_texto {
    display: block;
    margin-right: 2rem;
}

.pedidos h2 {
    width: 100%;
    font-size: 3rem;
    margin: 10rem 0 5rem 0;
}

.pedidos p {
    color: gray;
    font-size: 1.5rem;
    text-align: center;
}


/* CUADROS DE INFORMACION */
.container {
    display: flex;
}

.container_box {
    background: var(--color-primary);
    width: 30%;
    margin: 1rem;
    border-radius: 20px;
}



.container_box-text h3 {
    text-align: center;
    color: var(--color-secundary);
    font-size: 1.5rem;
    padding: 1rem;
}

.container_box-text p {
    color: white;
    margin: 1rem;
}

.container_box button {
    background-color: var(--color-secundary);
    color: white;
    border: none;
    padding: .5rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 1px solid white;
    margin-top: 20rem;
}




/* FORMULARIO DE CONTACTO */

.formulario {
    width: 30%;
    height: 30rem;
    background: var(--color-primary);
    margin: 2rem;
    justify-content: center;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.61);
}

.formulario input {
    width: 50%;
    margin: 1rem 20%;
}

.formulario span {
    width: 50%;
    color: teal;
    margin: 20%;
    text-transform: uppercase;
}

#hasta {
    margin: 0;
    width: 100px;
}

.formulario h3 {
    width: 50%;
    color: teal;
    margin: 0 20%;
    text-transform: uppercase;
}

.formulario h2 {
    width: 50%;
    color: teal;
    margin: 0 20%;

}

#fecha {
    width: 20%;

}

#button {
    background: var(--color-secundary);
    width: 40%;
    margin: 0 30%;
    border-radius: 20px;
    padding: 5px 0;
}